{% extends 'base.html.twig' %}

{% if year is null %}
    {% set URLyear = "all" %}
{% else %}
    {% set URLyear = year %}
{% endif %}

{% if month is null %}
    {% set URLmonth = "all" %}
{% else %}
    {% set URLmonth = month %}
{% endif %}

{% block title %}Indicateurs des commerciaux - {% endblock %}

{% block filtres %}
    <div class="filter-wrapper">
        <div class="dropdown toolbar-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="commercialList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ commercial.nom }}</button>
            <div id="list_commerciaux" class="dropdown-menu" aria-labelledby="commercialList">
                {% for c in commerciaux %}
                    <a class="dropdown-item" href="{{ path('kpi_commerciaux_by_id', { 'id' : c.id, 'year' : URLyear, 'month' : URLmonth }) }}">{{ c.nom }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown toolbar-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="monthList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if month %}{{ month }}{% else %}Tout{% endif %}</button>
            <div id="list_commerciaux" class="dropdown-menu" aria-labelledby="monthList">
                <a class="dropdown-item" href="{{ path('kpi_commerciaux_by_id', { 'id' : commercial.id, 'year' : URLyear }) }}">Tout</a>
                {% for m in monthList %}
                    <a class="dropdown-item" href="{{ path('kpi_commerciaux_by_id', { 'id' : commercial.id, 'year' : URLyear, 'month' : m.month }) }}">{{ m.month }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown toolbar-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="yearList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if year %}{{ year }}{% else %}Tout{% endif %}</button>
            <div id="list_commerciaux" class="dropdown-menu" aria-labelledby="yearList">
                <a class="dropdown-item" href="{{ path('kpi_commerciaux_by_id', { 'id' : commercial.id, 'month' : URLmonth }) }}">Tout</a>
                {% for y in yearList %}
                    <a class="dropdown-item" href="{{ path('kpi_commerciaux_by_id', { 'id' : commercial.id, 'year' : y.year, 'month' : URLmonth }) }}">{{ y.year }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex">
                                <div class="wrapper">
                                    <h3 class="mb-0 font-weight-semibold">{{ commercial.nom }}</h3>
                                    <h5 class="mb-0 font-weight-medium text-primary">{{ month }}{% if month %} / {% endif %}{{ year }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex">
                                <div class="wrapper">
                                    <h3 class="mb-0 font-weight-semibold">{{ totalVentes | number_format(2, ',', ' ') }}€</h3>
                                    <h5 class="mb-0 font-weight-medium text-primary">Total des ventes</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                            <div class="d-flex">
                                <div class="wrapper">
                                    <h3 class="mb-0 font-weight-semibold">{{ nbVentes }}</h3>
                                    <h5 class="mb-0 font-weight-medium text-primary">Commande</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                            <div class="d-flex">
                                <div class="wrapper">
                                    <h3 class="mb-0 font-weight-semibold">{{ meilleureVente | number_format(2, ',', ' ') }}€</h3>
                                    <h5 class="mb-0 font-weight-medium text-primary">Meilleure vente</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0"></h4>
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <h4 class="mb-0">{{ commercial.nom }}</h4>
                    </div>
                    <canvas class="mt-4" height="100" id="performance_commercial-chart"></canvas>
                </div>
            </div>
        </div>
        {#<div class="col-md-4 grid-margin">#}
            {#<div class="card">#}
                {#<div class="card-body">#}
                    {#<h4 class="card-title mb-0">Top Performer</h4>#}
                    {#<div class="d-flex mt-3 py-2 border-bottom">#}
                        {#<img class="img-sm rounded-circle" src="../assets/images/faces/face3.jpg" alt="profile image">#}
                        {#<div class="wrapper ml-2">#}
                            {#<p class="mb-n1 font-weight-semibold">Ray Douglas</p>#}
                            {#<small>162543</small>#}
                        {#</div>#}
                        {#<small class="text-muted ml-auto">1 Hours ago</small>#}
                    {#</div>#}
                    {#<div class="d-flex py-2 border-bottom">#}
                        {#<span class="img-sm rounded-circle bg-warning text-white text-avatar">OH</span>#}
                        {#<div class="wrapper ml-2">#}
                            {#<p class="mb-n1 font-weight-semibold">Ora Hill</p>#}
                            {#<small>162543</small>#}
                        {#</div>#}
                        {#<small class="text-muted ml-auto">4 Hours ago</small>#}
                    {#</div>#}
                    {#<div class="d-flex py-2 border-bottom">#}
                        {#<img class="img-sm rounded-circle" src="../assets/images/faces/face4.jpg" alt="profile image">#}
                        {#<div class="wrapper ml-2">#}
                            {#<p class="mb-n1 font-weight-semibold">Brian Dean</p>#}
                            {#<small>162543</small>#}
                        {#</div>#}
                        {#<small class="text-muted ml-auto">4 Hours ago</small>#}
                    {#</div>#}
                    {#<div class="d-flex py-2 border-bottom">#}
                        {#<img class="img-sm rounded-circle" src="../assets/images/faces/face4.jpg" alt="profile image">#}
                        {#<div class="wrapper ml-2">#}
                            {#<p class="mb-n1 font-weight-semibold">Brian Dean</p>#}
                            {#<small>162543</small>#}
                        {#</div>#}
                        {#<small class="text-muted ml-auto">4 Hours ago</small>#}
                    {#</div>#}
                    {#<div class="d-flex pt-2">#}
                        {#<span class="img-sm rounded-circle bg-success text-white text-avatar">OB</span>#}
                        {#<div class="wrapper ml-2">#}
                            {#<p class="mb-n1 font-weight-semibold">Olive Bridges</p>#}
                            {#<small>162543</small>#}
                        {#</div>#}
                        {#<small class="text-muted ml-auto">7 Hours ago</small>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {#<div class="col-md-4 grid-margin stretch-card">#}
            {#<div class="card">#}
                {#<div class="card-body d-flex flex-column">#}
                    {#<div class="wrapper">#}
                        {#<h4 class="card-title mb-0">Net Profit Margin</h4>#}
                        {#<p>Started collecting data from February 2019</p>#}
                        {#<div class="mb-4" id="net-profit-legend"></div>#}
                    {#</div>#}
                    {#<canvas class="my-auto mx-auto" height="250" id="net-profit"></canvas>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title mb-4">Devis transformés</h1>
                    <div class="mt-n3 ml-auto" id="devis_transformes-chart"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title mb-4">Evolution</h1>
                    <div class="mt-n3 ml-auto" id="evolution-chart"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {% set max = 0 %}

    {% for year in perfsPerYear %}
        {% if year.total >= max %}
            {% set max = year.total %}
        {% endif %}
    {% endfor %}

    {% if commercial.objectif >= max %}
        {% set max = commercial.objectif %}
    {% endif %}

    {% set max = max + ( max / 10 ) %}

    <script>
        if ($("#performance_commercial-chart").length) {
            var MarketingChartCanvas = $("#performance_commercial-chart").get(0).getContext("2d");

            var Marketing_data_1_1 = [{% for year in perfsPerYear %}{{ year.total }}{% if not loop.last %}, {% endif %}{% endfor %}];
            var Marketing_data_1_2 = [{% for year in perfsPerYear %}{{ commercial.objectif }}{% if not loop.last %}, {% endif %}{% endfor %}];

            var MarketingChart = new Chart(MarketingChartCanvas, {
                type: 'bar',
                data: {
                    labels: [{% for year in perfsPerYear %}"{{ year.year }}"{% if not loop.last %}, {% endif %}{% endfor %}],
                    datasets: [
                        {
                            label: 'Objectif',
                            data: Marketing_data_1_2,
                            borderColor: '#ff6361',
                            backgroundColor: '#ff6361',
                            borderWidth: 0,
                            type: 'line',
                            order: 0,
                            fill: false
                        },
                        {
                            label: 'Total des ventes',
                            data: Marketing_data_1_1,
                            backgroundColor: '#ffa600',
                            borderColor: '#ffa600',
                            order: 1
                        }
                    ]
                }
            });
        }

        if ($('#devis_transformes-chart').length) {
            new JustGage({
                id: 'devis_transformes-chart',
                value: {{ taux_trans }},
                min: 0,
                max: 100,
                symbol: '%',
                pointer: true,
                gaugeWidthScale: 1,
                customSectors: [{
                    color: '#ff0000',
                    lo: 50,
                    hi: 100
                }, {
                    color: '#00ff00',
                    lo: 0,
                    hi: 50
                }],
                counter: true
            });
        }

        if ($('#evolution-chart').length) {
            var MarketingChartCanvas2 = $("#evolution-chart").get(0).getContext("2d");

            var MarketingChart2 = new Chart(MarketingChartCanvas2, {
                type: 'line',
                data: {
                    labels: [{% for year in perfsPerYear %}"{{ year.year }}"{% if not loop.last %}, {% endif %}{% endfor %}],
                    datasets: [
                        {
                            label: 'Objectif',
                            data: Marketing_data_1_2,
                            borderColor: '#ff6361',
                            backgroundColor: '#ff6361',
                            borderWidth: 0,
                            order: 0,
                            fill: false
                        },
                        {
                            label: 'Total des ventes',
                            data: Marketing_data_1_1,
                            backgroundColor: '#ffa600',
                            borderColor: '#ffa600',
                            order: 1
                        }
                    ]
                }
            });
        }

    </script>
{% endblock %}
