{% extends 'base.html.twig' %}

{% if year is null %}
    {% set URLyear = "all" %}
{% else %}
    {% set URLyear = year %}
{% endif %}

{% if month is null %}
    {% set URLmonth = "all" %}
{% else %}
    {% set URLmonth = month %}
{% endif %}

{% block title %}Indicateurs des commerciaux - {% endblock %}

{% block filtres %}
    <div class="filter-wrapper">
        <div class="dropdown toolbar-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="commercialList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ commercial.nom }}</button>
            <div id="list_commerciaux" class="dropdown-menu" aria-labelledby="commercialList">
                {% for c in commerciaux %}
                    <a class="dropdown-item" href="{{ path('kpi_commerciaux_by_id', { 'id' : c.id, 'year' : URLyear }) }}">{{ c.nom }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="filter-wrapper">
        <div class="dropdown toolbar-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="yearList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if year %}{{ year }}{% else %}Toutes les années{% endif %}</button>
            <div id="list_commerciaux" class="dropdown-menu" aria-labelledby="yearList">
                <a class="dropdown-item" href="{{ path('kpi_commerciaux_by_id', { 'id' : commercial.id, 'month' : URLmonth }) }}">Tout</a>
                {% for y in yearList %}
                    <a class="dropdown-item" href="{{ path('kpi_commerciaux_by_id', { 'id' : commercial.id, 'year' : y.year }) }}">{{ y.year }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row align-items-center">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 col-md-6">
                            <div class="d-flex">
                                <div class="wrapper">
                                    <h3 class="mb-0 font-weight-semibold">{{ commercial.nom }}</h3>
                                    <h5 class="mb-0 font-weight-medium text-primary">{{ month }}{% if month %} / {% endif %}{{ year }}</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-md-6 mt-md-0 mt-4">
                            <div class="d-flex">
                                <div class="wrapper">
                                    <h3 class="mb-0 font-weight-semibold">{{ nbVentes }}</h3>
                                    <h5 class="mb-0 font-weight-medium text-primary">Commande</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex">
                                <div class="wrapper">
                                    <h3 class="mb-0 font-weight-semibold">{{ totalVentes | number_format(2, ',', ' ') }}€</h3>
                                    <h5 class="mb-0 font-weight-medium text-primary">Total des ventes</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                            <div class="d-flex">
                                <div class="wrapper">
                                    <h3 class="mb-0 font-weight-semibold">{{ meilleureVente | number_format(2, ',', ' ') }}€</h3>
                                    <h5 class="mb-0 font-weight-medium text-primary">Meilleure vente</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                            <div class="d-flex">
                                <div class="wrapper">
                                    <h3 class="mb-0 font-weight-semibold">{{ venteMoyenne | number_format(2, ',', ' ') }}€</h3>
                                    <h5 class="mb-0 font-weight-medium text-primary">Vente moyenne</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8 grid-margin">
            <div class="card">
                <div class="card-body">
                    <canvas class="mt-4" height="100" id="performance_commercial-chart"></canvas>
                </div>
                <div class="p-4 border-top bg-light">
                    <h4 class="text-info card-title mb-0">Chiffre d’affaire et objectif</h4>
                </div>
            </div>
        </div>

        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body d-flex flex-column">
                    {% if year %}
                        <div class="wrapper">
                            <div class="mb-4" id="net-profit-legend"></div>
                        </div>
                        <canvas class="my-auto mx-auto" height="250" id="net-profit"></canvas>
                    {% else %}
                        <div class="p-5">
                            <h5 class="text-danger mb-0">Sélectionnez une année pour voir cet indicateur</h5>
                        </div>
                    {% endif %}
                </div>
                <div class="p-4 border-top bg-light">
                    <h4 class="text-info card-title mb-0">Evolution des performances de vente sur l'année {{ year }}</h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="mt-n3 ml-auto" id="devis_transformes-chart"></div>
                </div>
                <div class="p-4 border-top bg-light">
                    <h4 class="text-info card-title mb-0">Taux de conversion des devis</h4>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <canvas class="mt-4" height="100" id="evolution-chart"></canvas>
                </div>
                <div class="p-4 border-top bg-light">
                    <h4 class="text-info card-title mb-0">Evolution du total des ventes</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {% set max = 0 %}

    {% for year in perfsPerYear %}
        {% if year.total >= max %}
            {% set max = year.total %}
        {% endif %}
    {% endfor %}

    {% if commercial.objectif >= max %}
        {% set max = commercial.objectif %}
    {% endif %}

    {% set max = max + ( max / 10 ) %}

    <script>
        if ($("#performance_commercial-chart").length) {
            var MarketingChartCanvas = $("#performance_commercial-chart").get(0).getContext("2d");

            var Marketing_data_1_1 = [{% for year in perfsPerYear %}{{ year.total }}{% if not loop.last %}, {% endif %}{% endfor %}];
            var Marketing_data_1_2 = [{% for year in perfsPerYear %}{{ commercial.objectif }}{% if not loop.last %}, {% endif %}{% endfor %}];

            var MarketingChart = new Chart(MarketingChartCanvas, {
                type: 'bar',
                data: {
                    labels: [{% for year in perfsPerYear %}"{{ year.year }}"{% if not loop.last %}, {% endif %}{% endfor %}],
                    datasets: [
                        {
                            label: 'Objectif',
                            data: Marketing_data_1_2,
                            borderColor: '#ff6361',
                            backgroundColor: '#ff6361',
                            borderWidth: 0,
                            type: 'line',
                            order: 0,
                            fill: false
                        },
                        {
                            label: 'Total des ventes',
                            data: Marketing_data_1_1,
                            backgroundColor: '#ffa600',
                            borderColor: '#ffa600',
                            order: 1
                        }
                    ]
                }
            });
        }

        if ($('#devis_transformes-chart').length) {
            new JustGage({
                id: 'devis_transformes-chart',
                value: {{ taux_trans }},
                min: 0,
                max: 100,
                symbol: '%',
                pointer: true,
                gaugeWidthScale: 1,
                customSectors: [{
                    color: '#ff0000',
                    lo: 50,
                    hi: 100
                }, {
                    color: '#00ff00',
                    lo: 0,
                    hi: 50
                }],
                counter: true
            });
        }


        if ($("#net-profit").length) {
            var marksCanvas = document.getElementById("net-profit");
            var marksData = {
                labels: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Jui", "Aou", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Ventes",
                    backgroundColor: 'rgba(150, 77, 247,1)',
                    borderColor: 'rgba(150, 77, 247,1)',
                    borderWidth: 0,
                    fill: true,
                    radius: 0,
                    pointRadius: 0,
                    pointBorderWidth: 0,
                    pointBackgroundColor: 'rgba(150, 77, 247,1)',
                    pointHoverRadius: 10,
                    pointHitRadius: 5,
                    data: [{% for nbdevis in ventesMonth %}{{ nbdevis }}{% if not loop.last %}, {% endif %}{% endfor %}],
                    lineTension: 0
                },{
                    label: "Devis",
                    backgroundColor: 'rgba(88, 208, 222,0.8)',
                    borderColor: 'rgba(88, 208, 222,0.8)',
                    borderWidth: 0,
                    fill: true,
                    radius: 0,
                    pointRadius: 0,
                    pointBorderWidth: 0,
                    pointBackgroundColor: 'rgba(88, 208, 222,0.8)',
                    pointHoverRadius: 10,
                    pointHitRadius: 5,
                    data: [{% for nbdevis in devisMonth %}{{ nbdevis }}{% if not loop.last %}, {% endif %}{% endfor %}],
                    lineTension: 0
                }]
            };


            {% set max = 0 %}

            {% for v in devisMonth %}
                {% if v > max %}
            {% set max = v %}
                {% endif %}
            {% endfor %}

            var chartOptions = {
                scale: {
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: {{ max + 2 }},
                        display: true,
                    },
                    pointLabels: {
                        fontSize: 14
                    },
                    angleLines: {
                        color: '#e9ebf1'
                    },
                    gridLines: {
                        color: "#e9ebf1"
                    }
                },
                legend: false,
                legendCallback: function (chart) {
                    var text = [];
                    text.push('<div class="chartjs-legend"><ul>');
                    for (var i = 0; i < chart.data.datasets.length; i++) {
                        text.push('<li>');
                        text.push('<span style="background-color:' + chart.data.datasets[i].backgroundColor + '">' + '</span>');
                        text.push(chart.data.datasets[i].label);
                        text.push('</li>');
                    }
                    text.push('</ul></div>');
                    return text.join("");
                },
            };

            var radarChart = new Chart(marksCanvas, {
                type: 'line',
                data: marksData,
                options: chartOptions
            });
            document.getElementById('net-profit-legend').innerHTML = radarChart.generateLegend();
        }

        if ($("#performance_commercial-chart").length) {
            var MarketingChartCanvas = $("#performance_commercial-chart").get(0).getContext("2d");

            var Marketing_data_1_1 = [{% for year in perfsPerYear %}{{ year.total }}{% if not loop.last %}, {% endif %}{% endfor %}];
            var Marketing_data_1_2 = [{% for year in perfsPerYear %}{{ commercial.objectif }}{% if not loop.last %}, {% endif %}{% endfor %}];

            var MarketingChart = new Chart(MarketingChartCanvas, {
                type: 'bar',
                data: {
                    labels: [{% for year in perfsPerYear %}"{{ year.year }}"{% if not loop.last %}, {% endif %}{% endfor %}],
                    datasets: [
                        {
                            label: 'Objectif',
                            data: Marketing_data_1_2,
                            borderColor: '#ff6361',
                            backgroundColor: '#ff6361',
                            borderWidth: 0,
                            type: 'line',
                            order: 0,
                            fill: false,
                            lineTension: 0
                        },
                        {
                            label: 'Total des ventes',
                            data: Marketing_data_1_1,
                            backgroundColor: '#ffa600',
                            borderColor: '#ffa600',
                            order: 1,
                        }
                    ]
                }
            });
        }


        if ($("#evolution-chart").length) {
            var MarketingChartCanvas = $("#evolution-chart").get(0).getContext("2d");

            var Marketing_data_1_1 = [{% spaceless %}
                {% set count = 0 %}
                {% for annee in evolutionVentes %}
                    {% for valeur in annee %}
                        {% set count = count+1 %}
                        {{ valeur }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}

                {% endspaceless %}];

            var MarketingChart = new Chart(MarketingChartCanvas, {
                type: 'line',
                data: {
                    labels: [
                    {% for annee in evolutionVentes %}
                        {% for mois in annee %}
                            {{ loop.index }},
                        {% endfor %}
                    {% endfor %}
                    ],
                    datasets: [
                        {
                            label: 'Total des ventes',
                            data: Marketing_data_1_1,
                            backgroundColor: 'rgba(150, 77, 247,1)',
                            borderColor: 'rgba(150, 77, 247,1)',
                            lineTension: 0
                        }
                    ]
                }
            });
        }


    </script>
{% endblock %}
