<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}Dashboard KPI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/iconfonts/ionicons/css/ionicons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/iconfonts/typicons/src/font/typicons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/css/vendor.bundle.base.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/css/vendor.bundle.addons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/shared/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/demo_1/style.css') }}">
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}" />
        <style>
            canvas {
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        </style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-scroller">
            <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                    <a class="navbar-brand brand-logo" href="{{ path('index') }}">
                        <img src="{{ asset('assets/images/logo.svg') }}" alt="logo" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="{{ path('index') }}">
                        <img src="{{ asset('assets/images/logo-mini.svg') }}" alt="logo" />
                    </a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-toolbar">
                            {% block filtres %}
                            {% endblock %}
                        </div>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                                <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                    <img class="img-xs rounded-circle" src="{{ asset('assets/images/faces/face8.jpg') }}" alt="Profile image">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                                    <div class="dropdown-header text-center">
                                        {# USER #}
                                        <img class="img-md rounded-circle" src="{{ asset('assets/images/faces/face8.jpg') }}" alt="Profile image">
                                        <p class="mb-1 mt-3 font-weight-semibold">{{ app.user.username }}</p>
                                        <p class="font-weight-light text-muted mb-0">{{ app.user.email }}</p>
                                        {# USER #}
                                    </div>
                                    <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                                        Mon profil<i class="dropdown-item-icon fa fa-user-circle"></i>
                                    </a>                                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                                        Déconnexion<i class="dropdown-item-icon ti-power-off"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    {% endif %}
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            <div class="container-fluid page-body-wrapper">
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item nav-profile">
                                <a href="#" class="nav-link">
                                    <div class="profile-image">
                                        <img class="img-xs rounded-circle" src="{{ asset('assets/images/faces/face8.jpg') }}" alt="profile image">
                                        <div class="dot-indicator bg-success"></div>
                                    </div>
                                    <div class="text-wrapper">
                                        <p class="profile-name">{{ app.user.username }}</p>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <p class="designation">Administrateur</p>
                                        {% else %}
                                            <p class="designation">Utilisateur</p>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item nav-category">Catégorie d'indicateurs</li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('kpi_generaux') }}">
                                    <i class="menu-icon typcn typcn-document-text"></i>
                                    <span class="menu-title">Général</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('kpi_commerciaux') }}">
                                    <i class="menu-icon typcn typcn-document-text"></i>
                                    <span class="menu-title">Commerciaux</span>
                                </a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item nav-category">Administration</li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('users') }}">
                                        <i class="menu-icon typcn typcn-document-text"></i>
                                        <span class="menu-title">Gestion des utilisateurs</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">#}
{#                                <i class="menu-icon typcn typcn-coffee"></i>#}
{#                                <span class="menu-title">Basic UI Elements</span>#}
{#                                <i class="menu-arrow"></i>#}
{#                            </a>#}
{#                            <div class="collapse" id="ui-basic">#}
{#                                <ul class="nav flex-column sub-menu">#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="pages/tables/basic-table.html">#}
{#                                <i class="menu-icon typcn typcn-bell"></i>#}
{#                                <span class="menu-title">Tables</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="pages/icons/font-awesome.html">#}
{#                                <i class="menu-icon typcn typcn-user-outline"></i>#}
{#                                <span class="menu-title">Icons</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">#}
{#                                <i class="menu-icon typcn typcn-document-add"></i>#}
{#                                <span class="menu-title">User Pages</span>#}
{#                                <i class="menu-arrow"></i>#}
{#                            </a>#}
{#                            <div class="collapse" id="auth">#}
{#                                <ul class="nav flex-column sub-menu">#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" href="pages/samples/login.html"> Login </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" href="pages/samples/register.html"> Register </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </li>#}
                    </ul>
                </nav>
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="container-fluid clearfix">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
                      </span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

        <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/js/vendor.bundle.base.js') }}"></script>
        <script src="{{ asset('assets/vendors/js/vendor.bundle.addons.js') }}"></script>

        <script src="{{ asset('assets/js/shared/off-canvas.js') }}"></script>
        <script src="{{ asset('assets/js/shared/misc.js') }}"></script>

        <!--<script src="{{ asset('assets/js/demo_1/dashboard.js') }}"></script>-->
        <script src="{{ asset('assets/js/shared/chart.js') }}"></script>
        <script src="{{ asset('assets/js/chart.funnel.bundled.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>


        <script>
            $(function() {
                $('a[data-confirm]').click(function(ev) {
                    var href = $(this).attr('href');

                    if (!$('#dataConfirmModal').length) {
                        $('body').append('' +
                            '<div id="dataConfirmModal" class="modal fade" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true">' +
                                '<div class="modal-dialog modal-dialog-centered">' +
                                    '<div class="modal-content card-content">' +
                                        '<div class="modal-header">' +
                                            '<h3 id="dataConfirmLabel">Merci de confirmer</h3>' +
                                        '</div>' +
                                        '<div class="modal-body">' +
                                        '</div><' +
                                        'div class="modal-footer">' +
                                            '<button class="btn btn-success btn-fw" data-dismiss="modal" aria-hidden="true">Non</button>' +
                                            '<a class="btn btn-outline-danger" id="dataConfirmOK">Oui</a>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>');
                    }
                    $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
                    $('#dataConfirmOK').attr('href', href);
                    $('#dataConfirmModal').modal({show:true});

                    return false;
                });
            });
        </script>

        <script>
                (function ($) {
                    'use strict';
                    $(function () {
                        var lineStatsOptions = {
                            scales: {
                                yAxes: [{
                                    display: false
                                }],
                                xAxes: [{
                                    display: false
                                }]
                            },
                            legend: {
                                display: false
                            },
                            elements: {
                                point: {
                                    radius: 0
                                },
                                line: {
                                    tension: 0
                                }
                            },
                            stepsize: 100
                        }
                        var pays = {
                            {% block valuebycountries %}
                            "AF": 0,
                            "AL": 0,
                            "DZ": 0,
                            "AO": 0,
                            "AG": 0,
                            "AR": 0,
                            "AM": 0,
                            "AU": 0,
                            "AT": 0,
                            "AZ": 0,
                            "BS": 0,
                            "BH": 0,
                            "BD": 0,
                            "BB": 0,
                            "BY": 0,
                            "BE": 0,
                            "BZ": 0,
                            "BJ": 0,
                            "BT": 0,
                            "BO": 0,
                            "BA": 0,
                            "BW": 0,
                            "BR": 0,
                            "BN": 0,
                            "BG": 0,
                            "BF": 0,
                            "BI": 0,
                            "KH": 0,
                            "CM": 0,
                            "CA": 0,
                            "CV": 0,
                            "CF": 0,
                            "TD": 0,
                            "CL": 0,
                            "CN": 0,
                            "CO": 0,
                            "KM": 0,
                            "CD": 0,
                            "CG": 0,
                            "CR": 0,
                            "CI": 0,
                            "HR": 0,
                            "CY": 0,
                            "CZ": 0,
                            "DK": 0,
                            "DJ": 0,
                            "DM": 0,
                            "DO": 0,
                            "EC": 0,
                            "EG": 0,
                            "SV": 0,
                            "GQ": 0,
                            "ER": 0,
                            "EE": 0,
                            "ET": 0,
                            "FJ": 0,
                            "FI": 0,
                            "FR": 0,
                            "GA": 0,
                            "GM": 0,
                            "GE": 0,
                            "DE": 0,
                            "GH": 0,
                            "GR": 0,
                            "GD": 0,
                            "GT": 0,
                            "GN": 0,
                            "GW": 0,
                            "GY": 0,
                            "HT": 0,
                            "HN": 0,
                            "HK": 0,
                            "HU": 0,
                            "IS": 0,
                            "IN": 0,
                            "ID": 0,
                            "IR": 0,
                            "IQ": 0,
                            "IE": 0,
                            "IL": 0,
                            "IT": 0,
                            "JM": 0,
                            "JP": 0,
                            "JO": 0,
                            "KZ": 0,
                            "KE": 0,
                            "KI": 0,
                            "KR": 0,
                            "KW": 0,
                            "KG": 0,
                            "LA": 0,
                            "LV": 0,
                            "LB": 0,
                            "LS": 0,
                            "LR": 0,
                            "LY": 0,
                            "LT": 0,
                            "LU": 0,
                            "MK": 0,
                            "MG": 0,
                            "MW": 0,
                            "MY": 0,
                            "MV": 0,
                            "ML": 0,
                            "MT": 0,
                            "MR": 0,
                            "MU": 0,
                            "MX": 0,
                            "MD": 0,
                            "MN": 0,
                            "ME": 0,
                            "MA": 0,
                            "MZ": 0,
                            "MM": 0,
                            "NA": 0,
                            "NP": 0,
                            "NL": 0,
                            "NZ": 0,
                            "NI": 0,
                            "NE": 0,
                            "NG": 0,
                            "NO": 0,
                            "OM": 0,
                            "PK": 0,
                            "PA": 0,
                            "PG": 0,
                            "PY": 0,
                            "PE": 0,
                            "PH": 0,
                            "PL": 0,
                            "PT": 0,
                            "QA": 0,
                            "RO": 0,
                            "RU": 0,
                            "RW": 0,
                            "WS": 0,
                            "ST": 0,
                            "SA": 0,
                            "SN": 0,
                            "RS": 0,
                            "SC": 0,
                            "SL": 0,
                            "SG": 0,
                            "SK": 0,
                            "SI": 0,
                            "SB": 0,
                            "ZA": 0,
                            "ES": 0,
                            "LK": 0,
                            "KN": 0,
                            "LC": 0,
                            "VC": 0,
                            "SD": 0,
                            "SR": 0,
                            "SZ": 0,
                            "SE": 0,
                            "CH": 0,
                            "SY": 0,
                            "TW": 0,
                            "TJ": 0,
                            "TZ": 0,
                            "TH": 0,
                            "TL": 0,
                            "TG": 0,
                            "TO": 0,
                            "TT": 0,
                            "TN": 0,
                            "TR": 0,
                            "TM": 0,
                            "UG": 0,
                            "UA": 0,
                            "AE": 0,
                            "GB": 0,
                            "US": 0,
                            "UY": 0,
                            "UZ": 0,
                            "VU": 0,
                            "VE": 0,
                            "VN": 0,
                            "YE": 0,
                            "ZM": 0,
                            "ZW": 0
                            {% endblock %}
                        };

                        if ($('#sales-statistics-overview').length) {
                            var salesChartCanvas = $("#sales-statistics-overview").get(0).getContext("2d");
                            var gradientStrokeFill_1 = salesChartCanvas.createLinearGradient(0, 0, 0, 450);
                            gradientStrokeFill_1.addColorStop(1, 'rgba(255,255,255, 0.0)');
                            gradientStrokeFill_1.addColorStop(0, 'rgba(102,78,235, 0.2)');
                            var gradientStrokeFill_2 = salesChartCanvas.createLinearGradient(0, 0, 0, 400);
                            gradientStrokeFill_2.addColorStop(1, 'rgba(255, 255, 255, 0.01)');
                            gradientStrokeFill_2.addColorStop(0, '#14c671');
                            var data_1_1 = [60, 75, 65, 130, 130, 145, 110, 145, 155, 149, 170];
                            var data_1_2 = [0, 25, 20, 40, 70, 52, 49, 90, 70, 94, 110, 135];

                            var data_2_1 = [130, 145, 155, 60, 75, 65, 130, 110, 145, 149, 170];
                            var data_2_2 = [0, 70, 52, 90, 25, 20, 40, 70, 49, 94, 110, 135];

                            var data_3_1 = [130, 75, 65, 130, 110, 145, 155, 60, 145, 149, 170];
                            var data_3_2 = [0, 70, 52, 94, 110, 135, 90, 25, 20, 40, 70, 49];

                            var data_4_1 = [130, 145, 65, 130, 75, 145, 149, 170, 110, 155, 60];
                            var data_4_2 = [0, 70, 90, 25, 40, 20, 94, 110, 135, 70, 49, 52];
                            var areaData = {
                                labels: ["Jan 1", "Jan 7", "Jan 14", "Jan 21", "Jan 28", "Feb 4", "Feb 11", "Feb 18"],
                                datasets: [{
                                    label: 'Revenue',
                                    data: data_1_1,
                                    borderColor: infoColor,
                                    backgroundColor: gradientStrokeFill_1,
                                    borderWidth: 2
                                }, {
                                    label: 'Sales',
                                    data: data_1_2,
                                    borderColor: successColor,
                                    backgroundColor: gradientStrokeFill_2,
                                    borderWidth: 2
                                }]
                            };
                            var areaOptions = {
                                responsive: true,
                                animation: {
                                    animateScale: true,
                                    animateRotate: true
                                },
                                elements: {
                                    point: {
                                        radius: 3,
                                        backgroundColor: "#fff"
                                    },
                                    line: {
                                        tension: 0
                                    }
                                },
                                layout: {
                                    padding: {
                                        left: 0,
                                        right: 0,
                                        top: 0,
                                        bottom: 0
                                    }
                                },
                                legend: false,
                                legendCallback: function (chart) {
                                    var text = [];
                                    text.push('<div class="chartjs-legend"><ul>');
                                    for (var i = 0; i < chart.data.datasets.length; i++) {
                                        console.log(chart.data.datasets[i]); // see what's inside the obj.
                                        text.push('<li>');
                                        text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
                                        text.push(chart.data.datasets[i].label);
                                        text.push('</li>');
                                    }
                                    text.push('</ul></div>');
                                    return text.join("");
                                },
                                scales: {
                                    xAxes: [{
                                        display: false,
                                        ticks: {
                                            display: false,
                                            beginAtZero: false
                                        },
                                        gridLines: {
                                            drawBorder: false
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            max: 200,
                                            min: 0,
                                            stepSize: 50,
                                            fontColor: "#858585",
                                            beginAtZero: false
                                        },
                                        gridLines: {
                                            color: '#e2e6ec',
                                            display: true,
                                            drawBorder: false
                                        }
                                    }]
                                }
                            }
                            var salesChart = new Chart(salesChartCanvas, {
                                type: 'line',
                                data: areaData,
                                options: areaOptions
                            });
                            document.getElementById('sales-statistics-legend').innerHTML = salesChart.generateLegend();

                            $("#sales-statistics_switch_1").click(function () {
                                var data = salesChart.data;
                                data.datasets[0].data = data_1_1;
                                data.datasets[1].data = data_1_2;
                                salesChart.update();
                            });
                            $("#sales-statistics_switch_2").click(function () {
                                var data = salesChart.data;
                                data.datasets[0].data = data_2_1;
                                data.datasets[1].data = data_2_2;
                                salesChart.update();
                            });
                            $("#sales-statistics_switch_3").click(function () {
                                var data = salesChart.data;
                                data.datasets[0].data = data_3_1;
                                data.datasets[1].data = data_3_2;
                                salesChart.update();
                            });
                            $("#sales-statistics_switch_4").click(function () {
                                var data = salesChart.data;
                                data.datasets[0].data = data_4_1;
                                data.datasets[1].data = data_4_2;
                                salesChart.update();
                            });
                        }
                        if ($("#net-profit").length) {
                            var marksCanvas = document.getElementById("net-profit");
                            var marksData = {
                                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug"],
                                datasets: [{
                                    label: "Sales",
                                    backgroundColor: 'rgba(88, 208, 222,0.8)',
                                    borderColor: 'rgba(88, 208, 222,0.8)',
                                    borderWidth: 0,
                                    fill: true,
                                    radius: 0,
                                    pointRadius: 0,
                                    pointBorderWidth: 0,
                                    pointBackgroundColor: 'rgba(88, 208, 222,0.8)',
                                    pointHoverRadius: 10,
                                    pointHitRadius: 5,
                                    data: [54, 45, 60, 70, 54, 75, 60, 54]
                                }, {
                                    label: "Orders",
                                    backgroundColor: 'rgba(150, 77, 247,1)',
                                    borderColor: 'rgba(150, 77, 247,1)',
                                    borderWidth: 0,
                                    fill: true,
                                    radius: 0,
                                    pointRadius: 0,
                                    pointBorderWidth: 0,
                                    pointBackgroundColor: 'rgba(150, 77, 247,1)',
                                    pointHoverRadius: 10,
                                    pointHitRadius: 5,
                                    data: [65, 75, 70, 80, 60, 80, 36, 60]
                                }]
                            };

                            var chartOptions = {
                                scale: {
                                    ticks: {
                                        beginAtZero: true,
                                        min: 0,
                                        max: 100,
                                        stepSize: 20,
                                        display: false,
                                    },
                                    pointLabels: {
                                        fontSize: 14
                                    },
                                    angleLines: {
                                        color: '#e9ebf1'
                                    },
                                    gridLines: {
                                        color: "#e9ebf1"
                                    }
                                },
                                legend: false,
                                legendCallback: function (chart) {
                                    var text = [];
                                    text.push('<div class="chartjs-legend"><ul>');
                                    for (var i = 0; i < chart.data.datasets.length; i++) {
                                        console.log(chart.data.datasets[i]); // see what's inside the obj.
                                        text.push('<li>');
                                        text.push('<span style="background-color:' + chart.data.datasets[i].backgroundColor + '">' + '</span>');
                                        text.push(chart.data.datasets[i].label);
                                        text.push('</li>');
                                    }
                                    text.push('</ul></div>');
                                    return text.join("");
                                },
                            };

                            var radarChart = new Chart(marksCanvas, {
                                type: 'radar',
                                data: marksData,
                                options: chartOptions
                            });
                            document.getElementById('net-profit-legend').innerHTML = radarChart.generateLegend();
                        }
                        if ($('#total-revenue').length) {
                            var ctx = document.getElementById('total-revenue').getContext("2d");
                            var data = {
                                labels: [
                                    "Day01",
                                    "Day02",
                                    "Day03",
                                    "Day04",
                                    "Day05",
                                    "Day06",
                                    "Day07",
                                    "Day08",
                                    "Day09",
                                    "Day10",
                                    "Day11",
                                    "Day12",
                                    "Day13",
                                    "Day14",
                                    "Day15",
                                    "Day16",
                                    "Day17",
                                    "Day18",
                                    "Day19",
                                    "Day20",
                                    "Day21",
                                    "Day22",
                                    "Day23",
                                    "Day24",
                                    "Day25",
                                    "Day26",
                                    "Day27",
                                    "Day28",
                                    "Day29",
                                    "Day30",
                                    "Day31",
                                    "Day32",
                                    "Day33",
                                    "Day34",
                                    "Day35",
                                    "Day36",
                                    "Day37",
                                    "Day38",
                                    "Day39",
                                    "Day40",
                                    "Day41",
                                    "Day42",
                                    "Day43",
                                    "Day44",
                                    "Day45",
                                    "Day46",
                                    "Day47",
                                    "Day48",
                                    "Day49",
                                    "Day50",
                                    "Day51",
                                    "Day52",
                                    "Day53",
                                    "Day54",
                                    "Day55",
                                    "Day56",
                                    "Day57",
                                    "Day58",
                                    "Day59",
                                    "Day60",
                                    "Day61",
                                    "Day62",
                                    "Day63",
                                    "Day64",
                                    "Day65",
                                    "Day66",
                                    "Day67",
                                    "Day68",
                                    "Day69",
                                    "Day70",
                                    "Day71",
                                    "Day72",
                                    "Day73",
                                    "Day74",
                                    "Day75",
                                    "Day76",
                                    "Day77",
                                    "Day78",
                                    "Day79",
                                    "Day80",
                                    "Day81",
                                    "Day82"
                                ],
                                datasets: [{
                                    label: 'Total Revenue',
                                    data: [56,
                                        55,
                                        59,
                                        59,
                                        59,
                                        57,
                                        56,
                                        57,
                                        54,
                                        56,
                                        58,
                                        57,
                                        59,
                                        58,
                                        59,
                                        57,
                                        55,
                                        56,
                                        54,
                                        52,
                                        49,
                                        48,
                                        50,
                                        50,
                                        46,
                                        45,
                                        49,
                                        50,
                                        52,
                                        53,
                                        52,
                                        55,
                                        54,
                                        53,
                                        56,
                                        55,
                                        56,
                                        55,
                                        54,
                                        55,
                                        57,
                                        58,
                                        56,
                                        55,
                                        56,
                                        57,
                                        58,
                                        59,
                                        58,
                                        57,
                                        55,
                                        53,
                                        52,
                                        55,
                                        57,
                                        55,
                                        54,
                                        52,
                                        55,
                                        57,
                                        56,
                                        57,
                                        58,
                                        59,
                                        58,
                                        59,
                                        57,
                                        56,
                                        55,
                                        57,
                                        58,
                                        59,
                                        60,
                                        62,
                                        60,
                                        59,
                                        58,
                                        57,
                                        56,
                                        57,
                                        56,
                                        58,
                                        59
                                    ],
                                    borderColor: '#9B86F1',
                                    backgroundColor: '#f2f2ff',
                                    borderWidth: 3,
                                    fill: 'origin'
                                }]
                            };
                            var lineChart = new Chart(ctx, {
                                type: 'line',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            display: false
                                        }],
                                        xAxes: [{
                                            display: false
                                        }]
                                    },
                                    legend: {
                                        display: false
                                    },
                                    elements: {
                                        point: {
                                            radius: 0
                                        },
                                        line: {
                                            tension: 0
                                        }
                                    },
                                    stepsize: 100
                                }
                            });
                        }
                        if ($('#total-transaction').length) {
                            var ctx = document.getElementById('total-transaction').getContext('2d');
                            var gradientStrokeFill_1 = ctx.createLinearGradient(0, 100, 200, 0);
                            gradientStrokeFill_1.addColorStop(0, '#fa5539');
                            gradientStrokeFill_1.addColorStop(1, '#fa3252');
                            var areaData = {
                                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
                                datasets: [{
                                    label: 'Sessions',
                                    data: [320, 280, 300, 280, 300, 270, 350],
                                    backgroundColor: gradientStrokeFill_1,
                                    borderColor: '#fa394e',
                                    borderWidth: 0,
                                    pointBackgroundColor: "#fa394e",
                                    pointRadius: 7,
                                    pointBorderWidth: 3,
                                    pointBorderColor: '#fff',
                                    pointHoverRadius: 7,
                                    pointHoverBackgroundColor: "#fa394e",
                                    pointHoverBorderColor: "#fa394e",
                                    pointHoverBorderWidth: 2,
                                    pointHitRadius: 7,
                                }]
                            };
                            var areaOptions = {
                                responsive: true,
                                animation: {
                                    animateScale: true,
                                    animateRotate: true
                                },
                                elements: {
                                    point: {
                                        radius: 0
                                    }
                                },
                                layout: {
                                    padding: {
                                        left: -10,
                                        right: 0,
                                        top: 0,
                                        bottom: -10
                                    }
                                },
                                legend: false,
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            display: false
                                        },
                                        ticks: {
                                            display: false
                                        }
                                    }],
                                    yAxes: [{
                                        gridLines: {
                                            display: false
                                        },
                                        ticks: {
                                            display: false
                                        }
                                    }]
                                }
                            }
                            var revenueChart = new Chart(ctx, {
                                type: 'line',
                                data: areaData,
                                options: areaOptions
                            });
                        }

                        if ($("#realtime-statistics").length) {
                            var realtimeChartCanvas = $("#realtime-statistics").get(0).getContext("2d");
                            var realtimeChart = new Chart(realtimeChartCanvas, {
                                type: 'bar',
                                data: {
                                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                                    datasets: [{
                                        label: 'Profit',
                                        data: [330, 380, 230, 400, 309, 530, 340],
                                        backgroundColor: "#0f5bff",
                                        borderColor: '#0f5bff',
                                        borderWidth: 0
                                    },
                                        {
                                            label: 'Target',
                                            data: [600, 600, 600, 600, 600, 600, 600],
                                            backgroundColor: '#e5e9f2',
                                            borderColor: '#e5e9f2',
                                            borderWidth: 0
                                        }
                                    ]
                                },
                                options: {
                                    responsive: true,
                                    maintainAspectRatio: true,
                                    layout: {
                                        padding: {
                                            left: 0,
                                            right: 25,
                                            top: 0,
                                            bottom: 0
                                        }
                                    },
                                    scales: {
                                        yAxes: [{
                                            display: false,
                                            gridLines: {
                                                display: false
                                            }
                                        }],
                                        xAxes: [{
                                            stacked: true,
                                            ticks: {
                                                display: false,
                                                beginAtZero: true,
                                                fontColor: "#354168"
                                            },
                                            gridLines: {
                                                color: "rgba(0, 0, 0, 0)",
                                                display: false
                                            },
                                            barPercentage: 0.5,
                                        }]
                                    },
                                    legend: {
                                        display: false
                                    },
                                    elements: {
                                        point: {
                                            radius: 0
                                        }
                                    }
                                }
                            });
                        }
                        if ($("#dashboard-vmap").length) {
                            $('#dashboard-vmap').vectorMap({
                                map: 'world_mill_en',
                                panOnDrag: true,
                                backgroundColor: 'transparent',
                                focusOn: {
                                    x: 0.5,
                                    y: 0.5,
                                    scale: 1,
                                    animate: true
                                },
                                series: {
                                    regions: [{
                                        scale: ['#C8EEFF', '#0071A4'],
                                        normalizeFunction: 'polynomial',
                                        values: pays
                                    }]
                                },
                                onRegionTipShow: function(e, el, code){
                                    el.html(el.html()+': '+ pays[code].toLocaleString('fr',{style: "currency", currency: "EUR"}));
                                }
                            });
                        }
                        if ($('#stats-line-graph-1').length) {
                            var lineChartCanvas = $("#stats-line-graph-1").get(0).getContext("2d");
                            var gradientStrokeFill_1 = lineChartCanvas.createLinearGradient(0, 0, 0, 50);
                            gradientStrokeFill_1.addColorStop(0, 'rgba(131, 144, 255, 0.5)');
                            gradientStrokeFill_1.addColorStop(1, '#fff');
                            var lineChart = new Chart(lineChartCanvas, {
                                type: 'line',
                                data: {
                                    labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7", "Day 8", "Day 9", "Day 10", "Day 11", "Day 12", "Day 13"],
                                    datasets: [{
                                        label: 'Profit',
                                        data: [7, 6, 9, 7, 8, 6, 8, 5, 7, 8, 6, 7, 7],
                                        borderColor: '#6d7cfc',
                                        backgroundColor: gradientStrokeFill_1,
                                        borderWidth: 3,
                                        fill: true
                                    }]
                                },
                                options: lineStatsOptions
                            });
                        }
                        if ($('#stats-line-graph-2').length) {
                            var lineChartCanvas = $("#stats-line-graph-2").get(0).getContext("2d");
                            var gradientStrokeFill_1 = lineChartCanvas.createLinearGradient(0, 0, 0, 50);
                            gradientStrokeFill_1.addColorStop(0, 'rgba(131, 144, 255, 0.5)');
                            gradientStrokeFill_1.addColorStop(1, '#fff');
                            var lineChart = new Chart(lineChartCanvas, {
                                type: 'line',
                                data: {
                                    labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7", "Day 8", "Day 9", "Day 10", "Day 11", "Day 12", "Day 13"],
                                    datasets: [{
                                        label: 'Profit',
                                        data: [7, 6, 8, 5, 7, 8, 6, 7, 7, 6, 9, 7, 8],
                                        borderColor: '#6d7cfc',
                                        backgroundColor: gradientStrokeFill_1,
                                        borderWidth: 3,
                                        fill: true
                                    }]
                                },
                                options: lineStatsOptions
                            });
                        }
                        if ($('#stats-line-graph-3').length) {
                            var lineChartCanvas = $("#stats-line-graph-3").get(0).getContext("2d");
                            var gradientStrokeFill_1 = lineChartCanvas.createLinearGradient(0, 0, 0, 50);
                            gradientStrokeFill_1.addColorStop(0, 'rgba(131, 144, 255, 0.5)');
                            gradientStrokeFill_1.addColorStop(1, '#fff');
                            var lineChart = new Chart(lineChartCanvas, {
                                type: 'line',
                                data: {
                                    labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7", "Day 8", "Day 9", "Day 10", "Day 11", "Day 12", "Day 13"],
                                    datasets: [{
                                        label: 'Profit',
                                        data: [8, 6, 7, 8, 5, 7, 9, 7, 8, 7, 6, 7, 6],
                                        borderColor: '#6d7cfc',
                                        backgroundColor: gradientStrokeFill_1,
                                        borderWidth: 3,
                                        fill: true
                                    }]
                                },
                                options: lineStatsOptions
                            });
                        }
                        if ($('#stats-line-graph-4').length) {
                            var lineChartCanvas = $("#stats-line-graph-4").get(0).getContext("2d");
                            var gradientStrokeFill_1 = lineChartCanvas.createLinearGradient(0, 0, 0, 50);
                            gradientStrokeFill_1.addColorStop(0, 'rgba(131, 144, 255, 0.5)');
                            gradientStrokeFill_1.addColorStop(1, '#fff');
                            var lineChart = new Chart(lineChartCanvas, {
                                type: 'line',
                                data: {
                                    labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7", "Day 8", "Day 9", "Day 10", "Day 11", "Day 12", "Day 13"],
                                    datasets: [{
                                        label: 'Profit',
                                        data: [7, 6, 8, 5, 8, 6, 8, 7, 8, 6, 9, 7, 7],
                                        borderColor: '#6d7cfc',
                                        backgroundColor: gradientStrokeFill_1,
                                        borderWidth: 3,
                                        fill: true
                                    }]
                                },
                                options: lineStatsOptions
                            });
                        }
                    });
                })(jQuery);
            </script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>